<sky-modal>
  <sky-modal-header> Edit employee information </sky-modal-header>
  <sky-modal-content>
    <div id="docs-edit-grid-modal-content">
      <sky-ag-grid-wrapper>
        <ag-grid-angular
          class="sky-ag-grid-editable"
          [gridOptions]="gridOptions"
          [rowData]="gridData"
        >
        </ag-grid-angular>
      </sky-ag-grid-wrapper>
    </div>
  </sky-modal-content>
  <sky-modal-footer>
    <button id="saveBtn"
      class="sky-btn sky-btn-primary savebtn"
      type="button"
      (click)="instance.save(gridData)"
    >
      Save
    </button>
    <button
    id="saveBtn"
      class="sky-btn sky-btn-link"
      type="button"
      (click)="instance.cancel()"
    >
      Cancel
    </button>
  </sky-modal-footer>
</sky-modal>
