<app-nav>
</app-nav>
 <div class="form-style">
  <form
  novalidate
  [formGroup]="myForm"
   (ngSubmit)="onSubmit()">
      <label for="form-group-first-input-example" id="firstNameLabel" class="sky-control-label">
        First name
      </label>
      <input  formControlName="firstName"
      class="sky-form-control" id="firstName" type="text">

      <label for="form-group-second-input-example" id="lastNameLabel" class="sky-control-label">
        Last name
      </label>
      <input  formControlName="lastName"
      class="sky-form-control" id="lastName" type="text">

    <label for="basic-input-with-label-example" id="numberLabel" class="sky-control-label">
      Phone number
    </label>
    <sky-input-box id="number">
      <sky-phone-field
        [defaultCountry]="'phone-format' | skyAppResources"
      >
        <input
          formControlName="number"
          skyPhoneFieldInput
        >
      </sky-phone-field>
    </sky-input-box>
    <sky-status-indicator *ngIf="!phoneControl.valid"
    descriptionType="none"
  >
    Enter a phone number matching the format for the selected country.
  </sky-status-indicator>



  <sky-input-box>
    <label
      class="sky-control-label dobLabel"
      [for]="dateInput.id"
    >
      DOB
    </label>
    <sky-datepicker
    id="dob1"
    >
      <input
      class="dob dob"
        formControlName="dob"
        skyDatepickerInput
        skyId
        type="text"
        #dateInput="skyId"
      />
    </sky-datepicker>
  </sky-input-box>
  <ng-container  *ngIf="!DOBControl.valid && DOBControl.touched">
  <div class="sky-error-label">Date format should be 'MM/DD/YYYY' and should not be future date </div>
  </ng-container>




<div
class="sky-form-group"
>
<label
  class="sky-control-label emailLabel"
  [for]="emailInput.id"
>
  Email address
</label>
<input
  id="email"
  class="sky-form-control email"
  formControlName="email"
  skyId
  #emailInput="skyId"
/>
</div>


<ng-container *ngIf="emailControl.errors && emailControl.touched">

  <div *ngIf="emailControl.errors.required"
    class="sky-error-label"
  >
    Email address is required.
  </div>

  <div *ngIf="emailControl.errors.skyEmail && emailControl.dirty"
    class="sky-error-label"
  >
    Enter a valid email in the "joe@abc.com" format.
  </div>

</ng-container>
    <label  for="basic-input-with-label-example" id="addressLabel" class="sky-control-label">
      Address
    </label>
    <input formControlName="address"
    class="sky-form-control" id="address" type="text"  >
    <button [disabled]="!myForm.valid"
      class="sky-btn sky-btn-default submit-btn"
      type="submit"
      id="submit"
    >
      Submit
    </button>
    <button style="margin-left: 9%;"
      class="sky-btn sky-btn-default submit-btn"
      type="button"
      id="cancel"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </form>
  </div>
